* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color:#ebebeb;
    min-height: 100vh;
}

.mi-borde {
    border: #ccc solid 1px;
    border-radius: 6px;
    background-color: #fff;
    padding: 30px;
}

.navbar-text {
    color: #fff;
}


.cursor-default {
    cursor: default;
}

.navbar-fixed-space-bottom,
.navbar-fixed-space-top {
    height: 100px;
}

@media (max-width: 599px) {
    .navbar-fixed-space-bottom{
        height: 128px;
    }
}

@media (max-width: 316px) {
    .navbar-fixed-space-top {
        height: 120px;
    }
}

@media (max-width: 327px) {
    .navbar-fixed-space-bottom {
        height: 146px;
    }
}